#menu-shop{
    display:flex;
    justify-content:space-evenly;
}

.menu {
    padding: 0 20px 0 10px;
    border-radius: 5px;
    border: 1px solid #053746;
    outline:none;
    font-weight:500;
}
    .menu:focus {
        background: #FEF2F2;
        border: 1px solid #D70018;
        color: #D70018;
    }
    .menu option {
        display: block;
        color: #053746;
    }
        .menu option:first-child {
            visibility:hidden;
        }